auto/
elpa/
session*
auto-save-list/
recentf
ede-projects.el
semanticdb/
smex-items
tutorial
ac-comphist.dat
backups/
.cache
tramp
network-security.data
.dap-breakpointsg
ChristianGeng.*
agenda.org
eshell/*
image-dired/*
projectile-bookmarks.eld
# magit history:
transient/*
# jdt workspaces:
workspace/*
eclipse.jdt.ls/*
# cookies
url/
# ??
srecode-map.el
# abbrevs
abbrev_defs
/.dap-breakpoints
/cookbook.pdf
/cookbook.tex
