[submodule "el/org-asciidoc"]
	path = el/org-asciidoc
	url = git@github.com:yashi/org-asciidoc.git
[submodule "snippets/adoc-mode"]
	path = snippets/adoc-mode
	url = git@github.com:nicorikken/adoc-mode-yasnippet.git
[submodule "doom-snippets"]
	path = doom-snippets
	url = https://github.com/hlissner/doom-snippets.git
[submodule "el/scel"]
	path = el/scel
	url = git@github.com:supercollider/scel.git
